@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}

header {
	padding: 7px 40px;
	margin-bottom: 10px;
	background-color: #292c2f;
	height: 80px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

header .header-limiter {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

header .header-limiter h1 {
	display: block;
	float: left;
	margin: 0;
	font: normal 28px Arial, Helvetica, sans-serif;
}

header .header-limiter h1 a {
	position: relative;
	top: 5px;
}

header .header-limiter h1 span {
	color: #5383D3;
}

header .header-limiter h1 span:hover {
	color: #7799D1;
}

header .header-limiter a {
	color: #DEDFE0;
	text-decoration: none;
}

header .header-limiter a:hover {
	color: #FFFFFF;
}

@media all and (max-width: 600px) {
	header {
		padding: 20px 0;
		height: 75px;
	}
	header .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}
}

.main-content {
	min-height: 520px;
}

.top-buffer {
	margin-top: 20px;
}

.chart-grid {
	min-height: 470px;
	max-height: 1410px;
	overflow-y: auto;
}

.y-scroll {
	max-height: 160px;
	overflow-y: auto;
}

.fix-panel {
	margin-bottom: 10px;
}

.round {
	width: 48px;
	height: 48px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	border-radius: 24px;
}

.toggle {
	outline: none !important;
}

.left-btn-group {
	width: 100%;
	margin: 10px 0 10px 15px;
}

.right-toggle, .fixed-right-toggle {
	float: right !important;
	margin: 0 30px 0 0;
}

.fixed-right-toggle {
	margin: 0 5px 0 0;
}

.panel-body {
	padding-top: 0;
}

p.about-text {
	margin-bottom: 520px;
}

.about-content table {
   margin-left: 10px;
}

.about-content table tr td:nth-child(1) {
   text-align: right;
}

.about-content table.operatorsTable tr td:nth-child(2) {
   text-align: center;
}

/* .centered-img .image-wrap { */
/* 	position: relative; */
/* 	display: inline-block; */
/* 	width: 256px; */
/* 	height: 256px; */
/* } */

/* .centered-img .image-wrap:after { */
/* 	position: absolute; */
/* 	content: ' '; */
/* 	width: 100%; */
/* 	height: 50%; */
/* 	top: 0; */
/* 	left: 0; */
/* 	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, */
/* 		rgba(255, 255, 255, .1) 100%); */
/* 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, */
/* 		255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, .1))); */
/* 	background: linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, */
/* 		rgba(255, 255, 255, .1) 100%); */
/* } */

footer {
	height: 70px;
}