@CHARSET "ISO-8859-1";

@font-face {
	font-family: "Steinem";
	src: url("fonts/STEINEM_.eot?") format("eot"),
		url("fonts/STEINEM_.woff") format("woff"), url("fonts/STEINEM_.ttf")
		format("truetype"), url("fonts/STEINEM_.svg#Steinem") format("svg");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Helvetica', 'Verdana', sans-serif;
}

body {
	background: url(../images/blue_bg.gif);
	margin: 0;
	text-align: center;
}

#wrapper {
	height: 830px;
	background: url(../images/stripe_bg.gif) repeat-x;
}

#wrapper .content {
	display: inline-block;
	width: 1124px; /* 713 */
	min-height: 774px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 20px 10px 15px 17px;
	position: relative;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 9px 1px rgba(50, 54, 50, 0.75);
	-moz-box-shadow: 0px 0px 9px 1px rgba(50, 54, 50, 0.75);
	box-shadow: 0px 0px 9px 1px rgba(50, 54, 50, 0.75);
	background: #f1f1f1;
	border: 1px none black;
	box-sizing: border-box;
	border-radius: 5px;
	text-align: left;
}

header {
	position: relative;
	/* 	text-align: center; */
}

header img {
	/* 	margin-left: auto; */
	/* 	margin-right: auto; */
	display: block;
	float: left;
	margin-left: 10px;
}

header span {
	display: block;
	float: left;
	line-height: 85px;
	font-family: 'Steinem';
	text-decoration: none;
	color: #486ca8;
	font-size: 34px;
	text-decoration: none;
	color: #486ca8;
}

footer {
	background: url(../images/footer_bg.png) repeat-x;
	text-align: center;
	width: 95.8%;
	height: 20px;
	color: #5f9bb2;
	font-size: 12px;
	margin: auto;
	padding: 0 10px 0 10px;
	line-height: 20px;
	position: absolute;
	bottom: 5px;
	height: 20px;
	padding: 0 10px 0 10px;
}

/* Fixes for placeholder attribute in other browsers */
#search:-webkit-input-placeholder {
	color: #9c9c9c;
	font-style: italic;
}

#search:-moz-placeholder {
	color: #9c9c9c;
	font-style: italic;
}

#search:-ms-placeholder {
	color: #9c9c9c;
	font-style: italic;
}

/*++++++++++++++++++++++++++++++++++++++++ alambic searchBox ++++++++++++++++++++++++++++++++++++++*/
/***********************
 * Essential Structure *
 ***********************/
.alambic--wrapper {
	height: auto;
	overflow: hidden;
	background: transparent;
	margin-bottom: 5px;
	position: static;
}

.alambic--form {
	overflow: hidden;
	position: relative;
}

.alambic--signal, .alambic--formula {
	position: relative;
	width: 49%;
	margin-bottom: 10px;
}

.alambic--signal {
	float: left;
	margin-right: 5px;
}

.alambic--formula {
	right: 0;
	float: right;
}

.alambic--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.alambic--input {
	width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
/* .alambic--container { */
/* 	padding: 0; Padding for other horizontal elements */
/* } */
.alambic--input {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 41px; /* 39*/
	padding: 0 46px 0 10px;
	border-color: #5a5d63; /*#888*/
	border-style: solid;
	border-width: 4px;
	margin-top: 15px;
	color: #333;
	font-family: 'Helvetica', sans-serif;
	font-size: 22px;
	vertical-align: 5px;
	border-radius: 35px; /* (height/2) + border-width */
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.alambic--submit {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 50px; /* 50 */
	height: 50px;
	padding: 0;
	border: none;
	margin-top: 8px; /* margin-top + border-width */
	margin-right: 4px; /* border-width */
	background: transparent;
	color: #5a5d63; /*#888*/
	font-family: 'Helvetica', sans-serif;
	font-size: 40px;
	line-height: 60px;
	outline: none;
}

/*css declaration only for Chrome/Safari*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.alambic--submit {
		margin-top: 10px; /* margin-top + border-width */
	}
}

.alambic--input:focus {
	outline: none;
	border-color: #486ca8; /*#333*/
}

input[name='inputData'].ng-dirty.ng-invalid {
	color: #c7254e;
	border-color: #c7254e;
}

input[name='inputData'].ng-dirty.ng-valid {
	color: #333;
	border-color: #5a5d63;
}

.alambic--submit:focus, .alambic--submit:hover,
	.alambic--input:focus.alambic--submit {
	color: #486ca8; /*#333*/
}

.alambic--submit:hover {
	cursor: pointer;
}

.alambic--submit:disabled {
	color: #c0c0c0;
}

::-webkit-input-placeholder {
	color: #C8C8C8;
}

input:-moz-placeholder {
	color: #C8C8C8;
}

.alambic--input-label {
	margin-left: 10px;
}

/************************************* Listings ****************************************/
.alambic--list {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 2px;
	padding: 0;
	width: 99%;
	height: 140px;
	overflow: auto;
	-moz-padding-start: 5px !important;
}

.alambic--list ul.ul--signals {
	position: relative;
	width: 97%;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #555555;
	list-style-type: none;
	-webkit-padding-start: 5px !important;
	-webkit-margin-before: 2px !important;
	-webkit-margin-after: 1px !important;
	-moz-padding-start: 5px !important;
	-moz-margin-before: 2px !important;
	-moz-margin-after: 1px !important;
	font-size: 16px;
}

.alambic--list ul li a {
	text-decoration: none;
	color: #333;
}

.alambic--list ul:focus {
	outline: none;
}

.alambic--list ul li {
	padding: 7px 0 7px 3px;
	border-bottom: 1px solid #ccc;
}

.alambic--list ul li:last-child {
	border-bottom: 0;
}

.alambic--list ul li:hover {
	background-color: #DFE2DB;
}

.alambic--list ul li a.delete--signal, .alambic--list ul li button.edit--signal,
	.alambic--list ul li a.cancel--signal {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('../images/delete16.png') !important;
	margin-right: 2px;
	margin-top: 4px;
	float: right;
	position: relative;
	right: 0px;
	float: right;
}

.alambic--list ul li a.delete--signal:hover {
	background-image: url('../images/delete-blue.png') !important;
}

.alambic--list ul li button.edit--signal {
	background-image: url('../images/edit16.png') !important;
	background-color: transparent !important;
	border: none;
	outline: none;
	padding: 0 !important;
	outline-offset: 0;
}

.alambic--list ul li button.edit--signal:disabled {
	background-image: url('../images/edit-disabled16.png') !important;
}

.alambic--list ul li button.edit--signal:hover:enabled {
	background-image: url('../images/edit-blue16.png') !important;
}

.alambic--list ul li a.cancel--signal {
	background-image: url('../images/back16.png') !important;
}

.alambic--list ul li a.cancel--signal:hover {
	background-image: url('../images/back-blue16.png') !important;
}

.alambic--list ul li input.alambic--editorField {
	width: 200px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0 10px 0 10px;
	border-color: #5a5d63; /*#888*/
	border-radius: 35px; /* (height/2) + border-width */
	border-style: solid;
	border-width: 2px;
	color: #333;
	font-family: 'Helvetica', sans-serif;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[name='inputEditor'].ng-dirty.ng-invalid {
	color: #c7254e;
	border-color: #c7254e;
}

input[name='inputEditor'].ng-dirty.ng-valid {
	color: #333;
	border-color: #5a5d63;
}

/***************************************************************************************/
.chart--wrapper, .about--content {
	max-width: 99%;
	min-height: 330px;
	max-height: 330px;
	margin-left: 2px;
	overflow: auto;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px;
}

.about--wrapper h1 {
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: 3px;
}

.about--content {
	min-height: 518px;
	max-height: 518px;
	margin-top: 0;
}