<div role="tabpanel" class="tab-pane" id="about" ng-controller="AboutController">
    <div class="about-content">
        <h1>About</h1>

        <p class="about-text">
            This is Alambic v2 created by Mouad El Merchichi using
            <a title="official site of angularJS" href="https://angularjs.org/"
                target="_blank">AngularJS</a>
            &comma;
            <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>
            &amp;
            <a title="official site of d3" href="http://d3js.org/" target="_blank">d3</a>
            frameworks. Monitored by Mr. Fr&eacute;d&eacute;ric Bapst &amp; Mr.
            Fran&ccedil;ois Kilchoer.
        </p>

        <div class="centered-img">
            <span class="large-circles">
                <div class="large circle one"></div>
                <div class="large circle two"></div>
                <div class="large circle three"></div>
                <div class="large circle four"></div>
                <div class="large circle five"></div>
                <div class="large circle six"></div>
                <div class="large circle seven"></div>
                <div class="large circle eight"></div>
            </span>

            <span class="small-shapes">
                <div class="small circle one"></div>
                <div class="small squircle two"></div>
                <div class="small circle three"></div>
                <div class="small squircle four"></div>
                <div class="small circle five"></div>
                <div class="small squircle six"></div>
                <div class="small circle seven"></div>
                <div class="small squircle eight"></div>
            </span>

            <span class="content-squircle">
                <div class="large squircle one"></div>
            </span>

            <div class="large squircle two large-squircle-two-content">
                <div class="content">
                    <span class="image-wrap">
                        <img src="images/alambic-logo-big-white.png" alt="Alambic II" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
