
<nav>
   <ul id="nav">
      <li class="current">
         <a href="#/">Home</a>
      </li>
      <li>
         <a href="#/about">About</a>
      </li>
   </ul>
</nav>

<div class="alambic--container">
   <div class="alambic--wrapper">
      <div class="alambic--signal">
         <form name="alambicSignalsForm" role="form" class="alambic--form" novalidate>
            <div class="alambic--input-wrapper">
               <input class="alambic--input" type="search" name="inputData"
                  placeholder="e.g. a = 11001/11;b = 101/1" ng-model="signalsString"
                  validate-signals />
            </div>
            <input class="alambic--submit" type="submit" value="&#10140;"
               ng-disabled="alambicSignalsForm.$invalid || !signalsString.length"
               ng-click="addSignals()" />

            <div class="alambic--list">
               <ul class="ul--signals">
                  <li ng-repeat="sig in signals.bs.universe.getSignals() track by sig.id"
                     id="signal{{sig.id}}">
                     <a ng-hide="sig.editorEnabled" ng-bind-html="sig.content | signalFormatter"
                        ng-click="enableEditor(sig.id, $event)"></a>
                     <input type="text" name="inputEditor" class="alambic--editorField"
                        ng-show="sig.editorEnabled" ng-model="editableSignal.text"
                        on-esc="disableEditor(sig.id)"
                        on-enter="alambicSignalsForm.$valid ? updateSignal(sig.id) : ''"
                        gain-focus="sig.editorEnabled" validate-editable-signal />

                     <a class="cancel--signal" ng-show="sig.editorEnabled"
                        ng-click="disableEditor(sig.id)"></a>
                     <button class="edit--signal" ng-disabled="alambicSignalsForm.$invalid"
                        ng-show="sig.editorEnabled" ng-click="updateSignal(sig.id)"></button>
                     <a class="delete--signal" ng-hide="sig.editorEnabled"
                        ng-click="deleteSignal(sig.id)"></a>
                  </li>
               </ul>
            </div>
         </form>
      </div>

      <div class="alambic--formula">
         <form name="alambicFormulaForm" role="form" class="alambic--form" novalidate>
            <div class="alambic--input-wrapper">
               <input class="alambic--input" type="search" name="inputData"
                  placeholder="ex. f = []a | b" ng-model="formulaString" validate-formulas required />
            </div>
            <input class="alambic--submit" type="submit" value="&#10140;"
               ng-disabled="alambicFormulaForm.$invalid" ng-click="addFormula()" />

            <div class="alambic--list">
               <ul class="ul--signals">
                  <li ng-repeat="formula in signals.tf.data" id="formula{{formula.id}}">
                     <a ng-bind-html='formula.content | formulaFormatter'></a>
                     <a class="delete--signal" ng-click="deleteFormula($index)"></a>
                  </li>
               </ul>
            </div>
         </form>
      </div>
   </div>

   <div class="chart--wrapper">
      <div ng-repeat="signal in signals.bs.universe.getSignals() track by signal.id">
         <nvd3-line-chart data="signal.signalChartData" showXAxis="true" showYAxis="true"
            tooltips="false" interactive="true" showlegend="true" width="1050" height="115"
            useInteractiveGuideLine="true" margin="{left:15,top:30,bottom:50,right:20}">
         </nvd3-line-chart>
      </div>
   </div>
</div>