
<nav>
   <ul id="nav">
      <li class="current">
         <a href="#/">Home</a>
      </li>
      <li>
         <a href="#/howto">How To</a>
      </li>
      <li>
         <a href="#/about">About</a>
      </li>
   </ul>
</nav>

<!-- <section class="slideWrapper"> -->
<!--    <div class="slide"> -->
<!--       <input type="checkbox" value="None" id="slideThree" name="check" checked /> -->
<!--       <label for="slideThree"></label> -->
<!--    </div> -->
<!-- </section> -->

<div class="alambic--container">
   <div class="alambic--wrapper">
      <div class="alambic--signal">
         <form name="alambicSignalsForm" role="form" class="alambic--form" novalidate>
            <div class="alambic--input-wrapper">
               <input class="alambic--input" type="search" name="inputData"
                  placeholder="e.g. a = 11001/11;b = 101/1" ng-model="signalsString"
                  validate-signals />
            </div>
            <input class="alambic--submit" type="submit" value="&#10140;"
               ng-disabled="alambicSignalsForm.$invalid || !signalsString.length"
               ng-click="addSignals()" />

            <div class="alambic--list">
               <ul class="ul--signals">
                  <li ng-repeat="sig in signals.bs.universe.getSignals() track by sig.getId()"
                     id="signal{{sig.id}}">
                     <a ng-hide="sig.isEditorEnabled()"
                        ng-bind-html="sig.getContent() | signalFormatter"
                        ng-click="editable.editableSignal.enableEditor(sig.getId(), $event)"></a>
                     <input type="text" name="inputEditor" class="alambic--editorField"
                        ng-show="sig.isEditorEnabled()" ng-model="editable.editableSignal.text"
                        on-esc="editable.editableSignal.disableEditor(sig.getId())"
                        on-enter="alambicSignalsForm.$valid ? updateSignal(sig.getId()) : ''"
                        gain-focus="sig.isEditorEnabled()" validate-editable-signal />

                     <a class="cancel--signal" ng-show="sig.isEditorEnabled()"
                        ng-click="editable.editableSignal.disableEditor(sig.getId())"></a>
                     <button class="edit--signal" ng-disabled="alambicSignalsForm.$invalid"
                        ng-show="sig.isEditorEnabled()" ng-click="updateSignal(sig.getId())"></button>
                     <button class="delete--signal" ng-hide="sig.isEditorEnabled()"
                        ng-disabled="sig.isReferenced()" ng-click="removeSignal(sig.getId())"></button>
                  </li>
               </ul>
            </div>
         </form>
      </div>

      <div class="alambic--formula">
         <form name="alambicFormulaForm" role="form" class="alambic--form" novalidate>
            <div class="alambic--input-wrapper">
               <input class="alambic--input" type="search" name="inputData"
                  placeholder="ex. f = []a | b" ng-model="formulaString" validate-formulas />
            </div>
            <input class="alambic--submit" type="submit" value="&#10140;"
               ng-disabled="alambicFormulaForm.$invalid || !formulaString.length"
               ng-click="addFormula()" />

            <div class="alambic--list">
               <ul class="ul--signals">
                  <li
                     ng-repeat="formula in signals.tf.formulasManager.getFormulas() track by formula.getId()"
                     id="formula{{formula.id}}">
                     <a ng-hide="formula.isEditorEnabled()"
                        ng-bind-html='formula.getContent() | formulaFormatter'
                        ng-click="editable.editableFormula.enableEditor(formula.getId(), $event)"></a>

                     <input type="text" name="inputEditor" class="alambic--editorField"
                        ng-show="formula.isEditorEnabled()" ng-model="editable.editableFormula.text"
                        on-esc="editable.editableFormula.disableEditor(formula.getId())"
                        on-enter="alambicFormulaForm.$valid ? updateFormula(formula.getId()) : ''"
                        gain-focus="formula.isEditorEnabled()" validate-editable-formula />

                     <a class="cancel--signal" ng-show="formula.isEditorEnabled()"
                        ng-click="editable.editableFormula.disableEditor(formula.getId())"></a>
                     <button class="edit--signal" ng-disabled="alambicFormulaForm.$invalid"
                        ng-show="formula.isEditorEnabled()"
                        ng-click="updateFormula(formula.getId())"></button>
                     <a class="delete--signal" ng-hide="formula.isEditorEnabled()"
                        ng-click="removeFormula(formula.getId())"></a>
                  </li>
               </ul>
            </div>
         </form>
      </div>
   </div>

   <div class="chart--wrapper">
      <div ng-repeat="formula in signals.tf.formulasManager.getFormulas() track by formula.getId()">
         <nvd3-line-chart data="formula.getChartData()" showXAxis="true" showYAxis="true"
            useinteractiveguideline="false" interactive="false" clipEdge="false" showlegend="true"
            legendradiobuttonmode="false" forcey="[0,1]" width="1090" height="115"
            margin="{left:15,top:20,bottom:50,right:20}"> </nvd3-line-chart>
      </div>
      <div ng-repeat="signal in signals.bs.universe.getSignals() track by signal.getId()">
         <nvd3-line-chart data="signal.getChartData()" showXAxis="true" showYAxis="true"
            useinteractiveguideline="false" interactive="false" clipEdge="false" showlegend="true"
            legendradiobuttonmode="false" forcey="[0,1]" width="1090" height="115"
            margin="{left:15,top:20,bottom:50,right:20}"> </nvd3-line-chart>
      </div>
   </div>
</div>