<div class="row top-buffer">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default fix-panel">
			<div class="input-group left-btn-group">
				<button id="collapseButton" type="button"
					class="btn btn-default toggle" data-toggle="collapse"
					data-tooltip="tooltip" [attr.data-original-title]="buttonState.title"
					data-target="#collapseSignals" aria-expanded="false"
					aria-controls="collapseSignals" (click)="toggleSignalsPanel()">
					<i [hidden]="!buttonState.isExpanded"
						class="glyphicon glyphicon-chevron-down"></i>
					<i [hidden]="buttonState.isExpanded"
						class="glyphicon glyphicon-chevron-right"></i>
				</button>
				<button type="button"
					class="btn btn-primary right-toggle toggle"
					data-tooltip="tooltip" title="Generate random signals"
					[hidden]="!buttonState.isExpanded" (click)="generateSignals()">
					<i class="fa fa-random"></i>
				</button>
				<button type="button"
					class="btn btn-primary fixed-right-toggle toggle"
					data-tooltip="tooltip" title="Generate random formula"
					[hidden]="!buttonState.isExpanded" (click)="generateFormula()">
					<i class="fa fa-random"></i>
				</button>
				<button type="button"
					class="btn btn-warning  fixed-right-toggle toggle"
					data-tooltip="tooltip" title="Minimize signals" (confirm)="minimizeUniverse()"
					[hidden]="!buttonState.isExpanded" [swal]="minimizeSwalOptions"
					[disabled]="signalsService.universe.isEmpty()">
					<i class="fas fa-compress-alt"></i>
				</button>
				<button type="button"
					class="btn btn-danger  fixed-right-toggle toggle"
					data-tooltip="tooltip" title="Clear signals" (click)="clearSignals()"
					[hidden]="!buttonState.isExpanded"
					[disabled]="signalsService.universe.isEmpty()">
					<i class="fa fa-trash"></i>
				</button>
			</div>
			<div class="panel-body collapse in" id="collapseSignals">
				<form #alambicSignalsForm="ngForm" role="form" novalidate>
					<div class="input-group "
						[ngClass]="{'has-error has-feedback': inputDataS.invalid}">
						<input type="text" class="form-control" name="inputDataS" #inputDataS="ngModel"
							placeholder="  try maybe        s = 11011/01" [(ngModel)]="signalsString"
							appTemporalEntityValidator />
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit" value="&#10140;"
								[disabled]="alambicSignalsForm.invalid || !signalsString.length"
								(click)="addSignals(alambicSignalsForm)">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
					</div>
				</form>
				<form #alambicSignalsListForm="ngForm" class="top-buffer" role="form" novalidate>
					<ul id="signalsList" class="list-group y-scroll row">
						<li class="list-group-item custom-item col-xs-12 col-sm-6"
							*ngFor="let sig of sortById(signalsService.universe.getEntities()); trackBy: trackById;"
							id="signal{{sig.getId()}}">
							<div class="row">
								<div class="col-xs-8 col-sm-8 text-left">
									<a [hidden]="sig.isEditorEnabled()"
										[innerHTML]="sig.getContent() | temporalEntityFormatter"
										(click)="enableSignalEditor(sig.getId(), $event, alambicSignalsListForm)"></a>
									<div class="input-group input-group-sm"
										[ngClass]="{'has-error has-feedback': alambicSignalsListForm.invalid && alambicSignalsListForm.dirty}">
										<input type="text" name="inputEditor"
											class="form-control alambic-editorField"
											[hidden]="!sig.isEditorEnabled()"
											[(ngModel)]="editableSignal.text"
											(appOnEcape)="disableSignalEditor($event, sig.getId())"
											(appOnEnter)="alambicSignalsListForm.valid ? updateSignal($event, sig.getId()) : ''"
											[appGainFocus]="sig.isEditorEnabled()"
											[appEditableTemporalEntityValidator]="editableSignal" />
									</div>
								</div>
								<div class="col-sx-4 col-sm-4 text-right">
									<button class="btn-link"
										[disabled]="alambicSignalsListForm.invalid"
										[hidden]="!sig.isEditorEnabled()"
										(click)="updateSignal($event, sig.getId())">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
									<button class="btn-link" [hidden]="!sig.isEditorEnabled()"
										(click)="disableSignalEditor($event, sig.getId())">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</button>
									<container-element [hidden]="sig.isEditorEnabled()" [ngSwitch]="$any(sig).satisfiability ">
										<span *ngSwitchCase="'Tautology'" class="text-success">Tautology</span>
										<span *ngSwitchCase="'Satisfiable'" class="text-primary">Satisfiable</span>
										<span *ngSwitchCase="'Insatisfiable'" class="text-danger">Insatisfiable</span>
										<span *ngSwitchCase="'Unknown'" class="text-danger">Unknown</span>
										<button *ngSwitchDefault class="btn btn-link btn-xs" type="button"
											data-original-title="Check satisfiability and tautology" (click)="analyzeEntity(sig.getId())"
											[hidden]="sig.isEditorEnabled() || !this.satService.isWebWorkerAvailable() || !canBeAnalyzed(sig)"
											data-tooltip="tooltip" data-placement="left">
											<span [hidden]="isBeingAnalyzed(sig.getId())"
												class="glyphicon glyphicon-flash"></span>
											<span [hidden]="!isBeingAnalyzed(sig.getId())"
												class="glyphicon glyphicon-refresh spinning"></span>
										</button>
									</container-element>
									<button class="btn-link" [hidden]="sig.isEditorEnabled()"
										[disabled]="sig.isReferenced()"
										(click)="removeSignal(sig.getId())">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</div>
							</div>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default chart-grid">
			<div class="panel-body">
				<div *ngFor="let signal of reverseSortById(signalsService.universe.getEntities()); trackBy: trackById;">
					<nvd3 [options]="nvd3Options" [data]="signal.getChartData()"></nvd3>
				</div>
			</div>
		</div>
	</div>
</div>
