<div class="row top-buffer">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<div class="panel panel-default fix-panel">
			<div class="input-group left-btn-group">
				<button id="collapseButton" type="button"
					class="btn btn-default toggle" data-toggle="collapse"
					data-tooltip="tooltip" [attr.data-original-title]="buttonState.signalsTitle"
					data-target="#collapseSignals" aria-expanded="false"
					aria-controls="collapseSignals" (click)="toggleSignalsPanel()">
					<i [hidden]="!buttonState.signalsUp"
						class="glyphicon glyphicon-chevron-down"></i>
					<i [hidden]="buttonState.signalsUp"
						class="glyphicon glyphicon-chevron-right"></i>
				</button>
				<button type="button"
					class="btn btn-primary right-toggle toggle"
					data-tooltip="tooltip" title="Generate random signals"
					[hidden]="!buttonState.signalsUp" (click)="generateSignals()">
					<i class="fa fa-random"></i>
				</button>
				<button type="button"
					class="btn btn-danger  fixed-right-toggle toggle"
					data-tooltip="tooltip" title="Clear signals" (click)="clearSignals()"
					[hidden]="!buttonState.signalsUp"
					[disabled]="signalsService.universe.isEmpty() || !signalsService.formulasManager.isEmpty()">
					<i class="fa fa-trash"></i>
				</button>
			</div>
			<div class="panel-body collapse in" id="collapseSignals">
				<form #alambicSignalsForm="ngForm" role="form" novalidate>
					<div class="input-group "
						[ngClass]="{'has-error has-feedback': inputDataS.invalid}">
						<input type="text" class="form-control" name="inputDataS" #inputDataS="ngModel"
							placeholder="  try maybe        s = 11011/01" [(ngModel)]="signalsString"
							[appSignalValidator]="signalsService" />
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit" value="&#10140;"
								[disabled]="alambicSignalsForm.invalid || !signalsString.length"
								(click)="addSignals(alambicSignalsForm)">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
					</div>
				</form>
				<form #alambicSignalsListForm="ngForm" class="top-buffer" role="form" novalidate>
					<ul id="signalsList" class="list-group y-scroll">
						<li class="list-group-item custom-item"
							*ngFor="let sig of signalsService.universe.getEntities(); trackBy: trackById;"
							id="signal{{sig.getId()}}">
							<div class="row">
								<div class="col-sm-8 col-md-8 col-lg-8 text-left">
									<a [hidden]="sig.isEditorEnabled()"
										[innerHTML]="sig.getContent() | signalFormatter"
										(click)="enableSignalEditor(sig.getId(), $event, alambicSignalsListForm)"></a>
									<div class="input-group input-group-sm"
										[ngClass]="{'has-error has-feedback': alambicSignalsListForm.invalid && alambicSignalsListForm.dirty}">
										<input type="text" name="inputEditor"
											class="form-control alambic-editorField"
											[hidden]="!sig.isEditorEnabled()"
											[(ngModel)]="editableSignal.text"
											(appOnEcape)="disableSignalEditor($event, sig.getId())"
											(appOnEnter)="alambicSignalsListForm.valid ? updateSignal($event, sig.getId()) : ''"
											[appGainFocus]="sig.isEditorEnabled()"
											[appEditableSignalValidator]="editableSignal" />
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 text-right">
									<button class="btn-link"
										[disabled]="alambicSignalsListForm.invalid"
										[hidden]="!sig.isEditorEnabled()"
										(click)="updateSignal($event, sig.getId())">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
									<button class="btn-link" [hidden]="!sig.isEditorEnabled()"
										(click)="disableSignalEditor($event, sig.getId())">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</button>
									<button class="btn-link" [hidden]="sig.isEditorEnabled()"
										[disabled]="sig.isReferenced()"
										(click)="removeSignal(sig.getId())">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</div>
							</div>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">
		<div class="panel panel-default fix-panel">
			<div class="input-group left-btn-group">
				<button type="button" class="btn btn-default toggle"
					data-toggle="collapse" data-tooltip="tooltip"
					[attr.data-original-title]="buttonState.formulasTitle"
					data-target="#collapseFormulas" aria-expanded="false"
					aria-controls="collapseFormulas" (click)="toggleFormlasPanel()">
					<i [hidden]="!buttonState.formulasUp"
						class="glyphicon glyphicon-chevron-down"></i>
					<i [hidden]="buttonState.formulasUp"
						class="glyphicon glyphicon-chevron-right"></i>
				</button>
				<button type="button"
					class="btn btn-primary right-toggle toggle"
					data-tooltip="tooltip" title="Generate random formula"
					[hidden]="!buttonState.formulasUp" (click)="generateFormula()"
					[disabled]="signalsService.universe.isEmpty()">
					<i class="fa fa-random"></i>
				</button>
				<button type="button"
					class="btn btn-danger fixed-right-toggle toggle"
					data-tooltip="tooltip" title="Clear formulas" (click)="clearFormulas()"
					[hidden]="!buttonState.formulasUp"
					[disabled]="signalsService.formulasManager.isEmpty()">
					<i class="fa fa-trash"></i>
				</button>
			</div>
			<div class="panel-body collapse in" id="collapseFormulas">
				<form #alambicFormulaForm="ngForm" role="form" novalidate>
					<div class="input-group"
						[ngClass]="{'has-error has-feedback': inputDataF.invalid}">
						<input type="text" class="form-control" name="inputDataF" #inputDataF="ngModel"
							placeholder=" try maybe        f = []a | b" [(ngModel)]="formulaString"
							[appFormulaValidator]="signalsService" />
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit" value="&#10140;"
								[disabled]="alambicFormulaForm.invalid || !formulaString.length"
								(click)="addFormula(alambicFormulaForm)">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>
					</div>
				</form>
				<form #alambicFormulaListForm="ngForm" class="top-buffer" role="form" novalidate>
					<ul id="formulasList" class="list-group y-scroll">
						<li class="list-group-item custom-item"
							*ngFor='let formula of signalsService.formulasManager.getEntities(); trackBy: trackById;'
							id="formula{{formula.getId()}}">
							<div class="row">
								<div class="col-sm-8 col-md-8 col-lg-8 text-left">
									<a [hidden]="formula.isEditorEnabled()"
										[innerHTML]='formula.getContent() | formulaFormatter'
										(click)="enableFormulaEditor(formula.getId(), $event, alambicFormulaListForm)"></a>
									<div class="input-group input-group-sm"
										[ngClass]="{'has-error has-feedback': alambicFormulaListForm.invalid && alambicFormulaListForm.dirty}">
										<input type="text" name="inputEditor"
											class="form-control alambic-editorField"
											[hidden]="!formula.isEditorEnabled()"
											[(ngModel)]="editableFormula.text"
											(appOnEcape)="disableFormulaEditor($event, formula.getId())"
											(appOnEnter)="alambicFormulaListForm.valid ? updateFormula($event, formula.getId()) : ''"
											[appGainFocus]="formula.isEditorEnabled()"
											[appEditableFormulaValidator]="{editableFormula: editableFormula, signalsService: signalsService}" />
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 text-right">
									<button class="btn-link"
										[disabled]="alambicFormulaListForm.invalid"
										[hidden]="!formula.isEditorEnabled()"
										(click)="updateFormula($event, formula.getId())">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
									<button class="btn-link" [hidden]="!formula.isEditorEnabled()"
										(click)="disableFormulaEditor($event, formula.getId())">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</button>
									<button class="btn-link" [hidden]="formula.isEditorEnabled()"
										(click)="removeFormula(formula.getId())">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</div>
							</div>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default chart-grid">
			<div class="panel-body">
				<div *ngFor="let formula of signalsService.formulasManager.getEntities(); trackBy: trackById;">
					<nvd3 [options]="nvd3Options" [data]="formula.getChartData()"></nvd3>
				</div>
				<div *ngFor="let signal of signalsService.universe.getEntities(); trackBy: trackById;">
					<nvd3 [options]="nvd3Options" [data]="signal.getChartData()"></nvd3>
				</div>
			</div>
		</div>
	</div>
</div>
